pipeline/ppl_copy_raw_to stage.json
{
	"name": "ppl_copy_raw_to stage",
	"properties": {
		"activities": [
			{
				"name": "Raw to stage",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "adls_customers",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "stg_sql_customers",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set schemas DBT",
				"type": "WebHook",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": " https://bx295.us1.dbt.com/api/v2/accounts/70471823507521/jobs/70471823526816/run/ ",
					"method": "POST",
					"headers": {
						"Authorization": "Token dbtc_BevLdbcqy792KKI2z-BecpDh0OYoOWpLSchHMZqkCNZX0qJsjQ",
						"Content-Type": "application/json"
					},
					"body": {
						"cause": "Triggered from ADF"
					},
					"timeout": "00:10:00"
				}
			},
			{
				"name": "job status",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set schemas DBT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "dbtRunId",
					"value": {
						"value": "@string(activity('Set schemas DBT').output.data.id)\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Azure Function1",
				"type": "AzureFunctionActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST"
				}
			}
		],
		"variables": {
			"dbtRunId": {
				"type": "String"
			}
		},
		"annotations": []
	}
}