pipeline/Prepare stage.json
{
	"name": "Prepare stage",
	"properties": {
		"description": "Pipeline to trigger and monitor a DBT Cloud job via REST API.",
		"activities": [
			{
				"name": "DBT prepare database job",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "@{concat('Token ', pipeline().parameters.DbtApiToken)}",
							"type": "Expression"
						},
						"Content-Type": "application/json"
					},
					"url": {
						"value": "@{concat(pipeline().parameters.DbtBaseUrl, '/api/v2/accounts/', pipeline().parameters.AccountId, '/jobs/', pipeline().parameters.PrepSchemaJobId, '/run/')}",
						"type": "Expression"
					},
					"body": {
						"cause": "Triggered from ADF pipeline"
					}
				}
			},
			{
				"name": "Get Run ID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "DBT prepare database job",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "dbtRunId",
					"value": {
						"value": "@string(activity('DBT prepare database job').output.data.id)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Until DBT Job Finished",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Get Run ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(equals(variables('dbtRunStatus'), 'Success'), equals(variables('dbtRunStatus'), 'Error'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Check DBT Run Status",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"headers": {
									"Authorization": {
										"value": "@{concat('Token ', pipeline().parameters.DbtApiToken)}",
										"type": "Expression"
									},
									"Content-Type": "application/json"
								},
								"url": {
									"value": "@{concat(pipeline().parameters.DbtBaseUrl, '/api/v2/accounts/', pipeline().parameters.AccountId, '/runs/', variables('dbtRunId'), '/')}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Get DBT Run Status",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Check DBT Run Status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "dbtRunStatus",
								"value": {
									"value": "@string(activity('Check DBT Run Status').output.data.status_humanized)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Wait 30s",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Get DBT Run Status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 35
							}
						}
					],
					"timeout": "0.03:00:00"
				}
			},
			{
				"name": "If Success or Fail",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Until DBT Job Finished",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('dbtRunStatus'), 'Success')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail Pipeline",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "DBT Cloud job failed. Check DBT Cloud run logs.",
								"errorCode": "400"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Move Raw data to stage",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzurePostgreSqlSink",
									"writeBatchSize": 1000000,
									"writeBatchTimeout": "00:30:00",
									"writeMethod": "CopyCommand"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								},
								"inputs": [
									{
										"referenceName": "ADLSDataset",
										"type": "DatasetReference"
									}
								],
								"outputs": [
									{
										"referenceName": "PostgreSQLDataset",
										"type": "DatasetReference"
									}
								]
							},
							"inputs": [
								{
									"referenceName": "adls_customers",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "stg_customers",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Move Raw data to stage_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "AzurePostgreSqlSink",
									"writeBatchSize": 1000000,
									"writeBatchTimeout": "00:30:00",
									"writeMethod": "CopyCommand"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								},
								"inputs": [
									{
										"referenceName": "ADLSDataset",
										"type": "DatasetReference"
									}
								],
								"outputs": [
									{
										"referenceName": "PostgreSQLDataset",
										"type": "DatasetReference"
									}
								]
							},
							"inputs": [
								{
									"referenceName": "adls_invoices",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "stg_invoices",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Move Raw data to stage_copy1_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzurePostgreSqlSink",
									"writeBatchSize": 1000000,
									"writeBatchTimeout": "00:30:00",
									"writeMethod": "CopyCommand"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								},
								"inputs": [
									{
										"referenceName": "ADLSDataset",
										"type": "DatasetReference"
									}
								],
								"outputs": [
									{
										"referenceName": "PostgreSQLDataset",
										"type": "DatasetReference"
									}
								]
							},
							"inputs": [
								{
									"referenceName": "adls_payments",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "stg_payments",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"PrepSchemaJobId": {
				"type": "String",
				"defaultValue": "70471823527740"
			},
			"AccountId": {
				"type": "String",
				"defaultValue": "70471823507521"
			},
			"DbtApiToken": {
				"type": "String",
				"defaultValue": "dbtc_4Y8Foik3iR3M1IX8TlM-zUgzMBa1NvkhItmMONsdUzngGGqG1I"
			},
			"DbtBaseUrl": {
				"type": "String",
				"defaultValue": "https://bx295.us1.dbt.com"
			},
			"TransformJobId": {
				"type": "string",
				"defaultValue": "70471823527740"
			}
		},
		"variables": {
			"dbtRunId": {
				"type": "String"
			},
			"dbtRunStatus": {
				"type": "String",
				"defaultValue": "Running"
			}
		},
		"annotations": []
	}
}