eurowadf/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "eurowadf"
		},
		"AzPgsql_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'AzPgsql'"
		},
		"adls_raw_adf_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'adls_raw_adf'"
		},
		"ewdatalake_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ewdatalake'"
		},
		"AzPgsql_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "pgdqleurow.postgres.database.azure.com"
		},
		"AzPgsql_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "ewdemo"
		},
		"AzPgsql_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "abene"
		},
		"adls_raw_adf_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://eurowdemo.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/adls_customers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adls_raw_adf",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "DS1_Customers.txt",
						"folderPath": "raw",
						"fileSystem": "datalake"
					},
					"columnDelimiter": "\t",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "CustomerId\tCustomerName\tCustomerCategory",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adls_raw_adf')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adls_invoices')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adls_raw_adf",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Invoices",
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "DS2_Invoices.xlsx",
						"folderPath": "raw",
						"fileSystem": "datalake"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adls_raw_adf')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adls_payments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adls_raw_adf",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "DS3_Payments.csv",
						"folderPath": "raw",
						"fileSystem": "datalake"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "CompanyId;CustomerId;CountryId;DocumentNumber;DocumentType;PostingDate;Entry;EntryType;Amount;InvoiceNumber;InvoiceEntry",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adls_raw_adf')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/stg_customers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzPgsql",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "stg",
					"table": "customers"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzPgsql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/stg_invoices')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzPgsql",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "stg",
					"table": "invoices"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzPgsql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/stg_payments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzPgsql",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "stg",
					"table": "payments"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzPgsql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzPgsql')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzurePostgreSql",
				"version": "2.0",
				"typeProperties": {
					"server": "[parameters('AzPgsql_properties_typeProperties_server')]",
					"port": "5432",
					"database": "[parameters('AzPgsql_properties_typeProperties_database')]",
					"sslMode": 2,
					"username": "[parameters('AzPgsql_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('AzPgsql_password')]"
					},
					"authenticationType": "Basic"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/adls_raw_adf')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('adls_raw_adf_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('adls_raw_adf_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ewdatalake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('ewdatalake_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Prepare stage')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Pipeline to trigger and monitor a DBT Cloud job via REST API.",
				"activities": [
					{
						"name": "DBT prepare database job",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Authorization": {
									"value": "@{concat('Token ', pipeline().parameters.DbtApiToken)}",
									"type": "Expression"
								},
								"Content-Type": "application/json"
							},
							"url": {
								"value": "@{concat(pipeline().parameters.DbtBaseUrl, '/api/v2/accounts/', pipeline().parameters.AccountId, '/jobs/', pipeline().parameters.PrepSchemaJobId, '/run/')}",
								"type": "Expression"
							},
							"body": {
								"cause": "Triggered from ADF pipeline"
							}
						}
					},
					{
						"name": "Get Run ID",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "DBT prepare database job",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "dbtRunId",
							"value": {
								"value": "@string(activity('DBT prepare database job').output.data.id)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Until DBT Job Finished",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "Get Run ID",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@or(equals(variables('dbtRunStatus'), 'Success'), equals(variables('dbtRunStatus'), 'Error'))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Check DBT Run Status",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "GET",
										"headers": {
											"Authorization": {
												"value": "@{concat('Token ', pipeline().parameters.DbtApiToken)}",
												"type": "Expression"
											},
											"Content-Type": "application/json"
										},
										"url": {
											"value": "@{concat(pipeline().parameters.DbtBaseUrl, '/api/v2/accounts/', pipeline().parameters.AccountId, '/runs/', variables('dbtRunId'), '/')}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Get DBT Run Status",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Check DBT Run Status",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "dbtRunStatus",
										"value": {
											"value": "@string(activity('Check DBT Run Status').output.data.status_humanized)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Wait 30s",
									"type": "Wait",
									"dependsOn": [
										{
											"activity": "Get DBT Run Status",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 35
									}
								}
							],
							"timeout": "0.03:00:00"
						}
					},
					{
						"name": "If Success or Fail",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Until DBT Job Finished",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(variables('dbtRunStatus'), 'Success')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Fail Pipeline",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": "DBT Cloud job failed. Check DBT Cloud run logs.",
										"errorCode": "400"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Move Raw data to stage",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzurePostgreSqlSink",
											"writeBatchSize": 1000000,
											"writeBatchTimeout": "00:30:00",
											"writeMethod": "CopyCommand"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "adls_customers",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "stg_customers",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "Move Raw data to stage_copy1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "AzurePostgreSqlSink",
											"writeBatchSize": 1000000,
											"writeBatchTimeout": "00:30:00",
											"writeMethod": "CopyCommand"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "adls_invoices",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "stg_invoices",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "Move Raw data to stage_copy1_copy1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzurePostgreSqlSink",
											"writeBatchSize": 1000000,
											"writeBatchTimeout": "00:30:00",
											"writeMethod": "CopyCommand"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "adls_payments",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "stg_payments",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"PrepSchemaJobId": {
						"type": "String",
						"defaultValue": "70471823527740"
					},
					"AccountId": {
						"type": "String",
						"defaultValue": "70471823507521"
					},
					"DbtApiToken": {
						"type": "String",
						"defaultValue": "dbtc_4Y8Foik3iR3M1IX8TlM-zUgzMBa1NvkhItmMONsdUzngGGqG1I"
					},
					"DbtBaseUrl": {
						"type": "String",
						"defaultValue": "https://bx295.us1.dbt.com"
					},
					"TransformJobId": {
						"type": "string",
						"defaultValue": "70471823527740"
					}
				},
				"variables": {
					"dbtRunId": {
						"type": "String"
					},
					"dbtRunStatus": {
						"type": "String",
						"defaultValue": "Running"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/adls_customers')]",
				"[concat(variables('factoryId'), '/datasets/stg_customers')]",
				"[concat(variables('factoryId'), '/datasets/adls_invoices')]",
				"[concat(variables('factoryId'), '/datasets/stg_invoices')]",
				"[concat(variables('factoryId'), '/datasets/adls_payments')]",
				"[concat(variables('factoryId'), '/datasets/stg_payments')]"
			]
		}
	]
}