eurowadf/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "eurowadf"
		},
		"AzPgsql_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'AzPgsql'"
		},
		"adls_raw_adf_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'adls_raw_adf'"
		},
		"ewdatalake_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ewdatalake'"
		},
		"AzPgsql_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "pgdqleurow.postgres.database.azure.com"
		},
		"AzPgsql_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "ewdemo"
		},
		"AzPgsql_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "abene"
		},
		"adls_raw_adf_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://eurowdemo.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzPgsql')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzurePostgreSql",
				"version": "2.0",
				"typeProperties": {
					"server": "[parameters('AzPgsql_properties_typeProperties_server')]",
					"port": "5432",
					"database": "[parameters('AzPgsql_properties_typeProperties_database')]",
					"sslMode": 2,
					"username": "[parameters('AzPgsql_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('AzPgsql_password')]"
					},
					"authenticationType": "Basic"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/adls_raw_adf')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('adls_raw_adf_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('adls_raw_adf_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ewdatalake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('ewdatalake_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/adls_customers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adls_raw_adf",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "DS1_Customers.txt",
						"folderPath": "raw",
						"fileSystem": "datalake"
					},
					"columnDelimiter": "\t",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "CustomerId\tCustomerName\tCustomerCategory",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adls_raw_adf')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adls_invoices')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adls_raw_adf",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Invoices",
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "DS2_Invoices.xlsx",
						"folderPath": "raw",
						"fileSystem": "datalake"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adls_raw_adf')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adls_payments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adls_raw_adf",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "DS3_Payments.csv",
						"folderPath": "raw",
						"fileSystem": "datalake"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "CompanyId",
						"type": "String"
					},
					{
						"name": "CustomerId",
						"type": "String"
					},
					{
						"name": "CountryId",
						"type": "String"
					},
					{
						"name": "DocumentNumber",
						"type": "String"
					},
					{
						"name": "DocumentType",
						"type": "String"
					},
					{
						"name": "PostingDate",
						"type": "String"
					},
					{
						"name": "Entry",
						"type": "String"
					},
					{
						"name": "EntryType",
						"type": "String"
					},
					{
						"name": "Amount",
						"type": "String"
					},
					{
						"name": "InvoiceNumber",
						"type": "String"
					},
					{
						"name": "InvoiceEntry",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adls_raw_adf')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adls_payments_formatted')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adls_raw_adf",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "DS3_Payments_Formatted.csv",
						"folderPath": "raw",
						"fileSystem": "datalake"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "CompanyId",
						"type": "String"
					},
					{
						"name": "CustomerId",
						"type": "String"
					},
					{
						"name": "CountryId",
						"type": "String"
					},
					{
						"name": "DocumentNumber",
						"type": "String"
					},
					{
						"name": "DocumentType",
						"type": "String"
					},
					{
						"name": "PostingDate",
						"type": "String"
					},
					{
						"name": "Entry",
						"type": "String"
					},
					{
						"name": "EntryType",
						"type": "String"
					},
					{
						"name": "Amount",
						"type": "String"
					},
					{
						"name": "InvoiceNumber",
						"type": "String"
					},
					{
						"name": "InvoiceEntry",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adls_raw_adf')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/stg_customers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzPgsql",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbt_abenes_stg",
					"table": "customers"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzPgsql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/stg_invoices')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzPgsql",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbt_abenes_stg",
					"table": "invoices"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzPgsql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/stg_payments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzPgsql",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbt_abenes_stg",
					"table": "payments"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzPgsql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/datetime_convert_postingdate')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "adls_payments",
								"type": "DatasetReference"
							},
							"name": "adlspaymentsvalidated"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "adls_payments_formatted",
								"type": "DatasetReference"
							},
							"name": "adlsPaymentsFormatted"
						}
					],
					"transformations": [
						{
							"name": "postingdateFormatted",
							"description": "correct datetime postigdate to pgswl format"
						}
					],
					"scriptLines": [
						"source(output(",
						"          CompanyId as string,",
						"          CustomerId as string,",
						"          CountryId as string,",
						"          DocumentNumber as string,",
						"          DocumentType as string,",
						"          PostingDate as string,",
						"          Entry as string,",
						"          EntryType as string,",
						"          Amount as string,",
						"          InvoiceNumber as string,",
						"          InvoiceEntry as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> adlspaymentsvalidated",
						"adlspaymentsvalidated derive(PostingDate = toDate(PostingDate, 'dd.MM.yyyy')) ~> postingdateFormatted",
						"postingdateFormatted sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          CompanyId as string,",
						"          CustomerId as string,",
						"          CountryId as string,",
						"          DocumentNumber as string,",
						"          DocumentType as string,",
						"          PostingDate as string,",
						"          Entry as string,",
						"          EntryType as string,",
						"          Amount as string,",
						"          InvoiceNumber as string,",
						"          InvoiceEntry as string",
						"     ),",
						"     partitionFileNames:['DS3_Payments_Formatted.csv'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> adlsPaymentsFormatted"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/adls_payments')]",
				"[concat(variables('factoryId'), '/datasets/adls_payments_formatted')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Prepare stage')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Pipeline to trigger and monitor a DBT Cloud job via REST API.",
				"activities": [
					{
						"name": "DBT prepare stage",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Authorization": {
									"value": "@{concat('Token ', pipeline().parameters.DbtApiToken)}",
									"type": "Expression"
								},
								"Content-Type": "application/json"
							},
							"url": {
								"value": "@{concat(pipeline().parameters.DbtBaseUrl, '/api/v2/accounts/', pipeline().parameters.AccountId, '/jobs/', pipeline().parameters.PrepSchemaJobId, '/run/')}",
								"type": "Expression"
							},
							"body": {
								"cause": "Triggered from ADF pipeline"
							}
						}
					},
					{
						"name": "Get Run ID",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "DBT prepare stage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "dbtRunId",
							"value": {
								"value": "@string(activity('DBT prepare stage').output.data.id)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Until DBT Job Finished",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "Get Run ID",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@or(equals(variables('dbtRunStatus'), 'Success'), equals(variables('dbtRunStatus'), 'Error'))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Check DBT Run Status",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "GET",
										"headers": {
											"Authorization": {
												"value": "@{concat('Token ', pipeline().parameters.DbtApiToken)}",
												"type": "Expression"
											},
											"Content-Type": "application/json"
										},
										"url": {
											"value": "@{concat(pipeline().parameters.DbtBaseUrl, '/api/v2/accounts/', pipeline().parameters.AccountId, '/runs/', variables('dbtRunId'), '/')}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Get DBT Run Status",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Check DBT Run Status",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "dbtRunStatus",
										"value": {
											"value": "@string(activity('Check DBT Run Status').output.data.status_humanized)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Wait 30s",
									"type": "Wait",
									"dependsOn": [
										{
											"activity": "Get DBT Run Status",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 35
									}
								}
							],
							"timeout": "0.03:00:00"
						}
					},
					{
						"name": "If Success or Fail",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Until DBT Job Finished",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(variables('dbtRunStatus'), 'Success')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Fail Pipeline",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": "DBT Cloud job failed. Check DBT Cloud run logs.",
										"errorCode": "400"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Move Raw data to customers",
									"description": "TRUNCATE TABLE dbt_abenes_stg.customers;\n",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzurePostgreSqlSink",
											"writeBatchSize": 1000000,
											"writeBatchTimeout": "00:30:00",
											"writeMethod": "CopyCommand"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "CustomerId",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "customerid",
														"type": "String",
														"physicalType": "character varying"
													}
												},
												{
													"source": {
														"name": "CustomerName",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "customername",
														"type": "String",
														"physicalType": "character varying"
													}
												},
												{
													"source": {
														"name": "CustomerCategory",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "customercategory",
														"type": "String",
														"physicalType": "character varying"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "adls_customers",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "stg_customers",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "Move Raw data to invoices",
									"description": "TRUNCATE TABLE dbt_abenes_stg.invoices;\n",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "AzurePostgreSqlSink",
											"writeBatchSize": 1000000,
											"writeBatchTimeout": "00:30:00",
											"writeMethod": "CopyCommand"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "CompanyId",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "companyid",
														"type": "Int32",
														"physicalType": "integer"
													}
												},
												{
													"source": {
														"name": "CustomerId",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "customerid",
														"type": "String",
														"physicalType": "character varying"
													}
												},
												{
													"source": {
														"name": "CountryId",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "countryid",
														"type": "String",
														"physicalType": "character varying"
													}
												},
												{
													"source": {
														"name": "DocumentNumber",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "documentnumber",
														"type": "String",
														"physicalType": "character varying"
													}
												},
												{
													"source": {
														"name": "DocumentType",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "documenttype",
														"type": "String",
														"physicalType": "character varying"
													}
												},
												{
													"source": {
														"name": "PostingDate",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "postingdate",
														"type": "DateTime",
														"physicalType": "date"
													}
												},
												{
													"source": {
														"name": "Entry",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "entry",
														"type": "String",
														"physicalType": "character varying"
													}
												},
												{
													"source": {
														"name": "EntryType",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "entrytype",
														"type": "String",
														"physicalType": "character varying"
													}
												},
												{
													"source": {
														"name": "Amount",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "amount",
														"type": "Decimal",
														"physicalType": "numeric"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "adls_invoices",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "stg_invoices",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "Move Raw data to payments",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "datetime_convert_postingdate",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzurePostgreSqlSink",
											"writeBatchSize": 1000000,
											"writeBatchTimeout": "00:30:00",
											"preCopyScript": "TRUNCATE TABLE dbt_abenes_stg.payments;\n",
											"writeMethod": "CopyCommand"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "CompanyId",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "companyid",
														"type": "Int32",
														"physicalType": "integer"
													}
												},
												{
													"source": {
														"name": "CustomerId",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "customerid",
														"type": "String",
														"physicalType": "character varying"
													}
												},
												{
													"source": {
														"name": "CountryId",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "countryid",
														"type": "String",
														"physicalType": "character varying"
													}
												},
												{
													"source": {
														"name": "DocumentNumber",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "documentnumber",
														"type": "String",
														"physicalType": "character varying"
													}
												},
												{
													"source": {
														"name": "DocumentType",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "documenttype",
														"type": "String",
														"physicalType": "character varying"
													}
												},
												{
													"source": {
														"name": "PostingDate",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "postingdate",
														"type": "DateTime",
														"physicalType": "date"
													}
												},
												{
													"source": {
														"name": "Entry",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "entry",
														"type": "String",
														"physicalType": "character varying"
													}
												},
												{
													"source": {
														"name": "EntryType",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "entrytype",
														"type": "String",
														"physicalType": "character varying"
													}
												},
												{
													"source": {
														"name": "Amount",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "amount",
														"type": "Decimal",
														"physicalType": "numeric"
													}
												},
												{
													"source": {
														"name": "InvoiceNumber",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "invoicenumber",
														"type": "String",
														"physicalType": "character varying"
													}
												},
												{
													"source": {
														"name": "InvoiceEntry",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "invoiceentry",
														"type": "String",
														"physicalType": "character varying"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false,
												"dateFormat": "yyyy-MM-dd"
											}
										}
									},
									"inputs": [
										{
											"referenceName": "adls_payments_formatted",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "stg_payments",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "datetime_convert_postingdate",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "datetime_convert_postingdate",
											"type": "DataFlowReference",
											"parameters": {},
											"datasetParameters": {
												"adlspaymentsvalidated": {},
												"adlsPaymentsFormatted": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								}
							]
						}
					},
					{
						"name": "DBT transform data",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "If Success or Fail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Authorization": {
									"value": "@{concat('Token ', pipeline().parameters.DbtApiToken)}",
									"type": "Expression"
								},
								"Content-Type": "application/json"
							},
							"url": {
								"value": "@{concat(pipeline().parameters.DbtBaseUrl, '/api/v2/accounts/', pipeline().parameters.AccountId, '/jobs/', pipeline().parameters.TransformJobId, '/run/')}",
								"type": "Expression"
							},
							"body": {
								"cause": "Triggered from ADF pipeline"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"PrepSchemaJobId": {
						"type": "String",
						"defaultValue": "70471823527740"
					},
					"AccountId": {
						"type": "String",
						"defaultValue": "70471823507521"
					},
					"DbtApiToken": {
						"type": "String",
						"defaultValue": "dbtc_4Y8Foik3iR3M1IX8TlM-zUgzMBa1NvkhItmMONsdUzngGGqG1I"
					},
					"DbtBaseUrl": {
						"type": "String",
						"defaultValue": "https://bx295.us1.dbt.com"
					},
					"TransformJobId": {
						"type": "string",
						"defaultValue": "70471823527753"
					}
				},
				"variables": {
					"dbtRunId": {
						"type": "String"
					},
					"dbtRunStatus": {
						"type": "String",
						"defaultValue": "Running"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/adls_customers')]",
				"[concat(variables('factoryId'), '/datasets/stg_customers')]",
				"[concat(variables('factoryId'), '/datasets/adls_invoices')]",
				"[concat(variables('factoryId'), '/datasets/stg_invoices')]",
				"[concat(variables('factoryId'), '/datasets/adls_payments_formatted')]",
				"[concat(variables('factoryId'), '/datasets/stg_payments')]",
				"[concat(variables('factoryId'), '/dataflows/datetime_convert_postingdate')]"
			]
		}
	]
}